---
name: Publish to TestPyPI

on:
push:
branches: ["main"]

jobs:
build-and-publish:
runs-on:
ubuntu-latest
steps:
- uses: actions/checkout@v4
- uses: actions/setup-python@v5
with:
pyghon-version: "3.11"

- name: Install build tools
run: |
python -m pip install -U pip
pip install -U build twine

- name: Build
run: python -m build

- name: Publish to TestPyPI
env:
TWINE_USERNAME: "__toke__"
TWINE_PASSWORD: ${{ secrets.TESTPYPI_API_TOKEN }}
run: twine upload --repository-url https://test.pypi.org/legacy/ dist/*
